@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="glyphicon glyphicon-cog"> Controle de Chamados</h1>
    <p class="lead">Projeto intediciplinar apresentado para a conclusão do semestre letivo.</p>
    <p><a href="http://www.opet.com.br" class="btn btn-primary btn-lg">Site da Instituição &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobile</h2>
        <p>
            Repositório do Aplicativo para controle e cadastro de chamados.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Site do vercionador &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web</h2>
        <p>Repositório aplicação WEB</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Site do vercionador &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WebService</h2>
        <p>Repositório do Web Service</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Site do vercionador &raquo;</a></p>
    </div>
</div>